

.root {
    -fx-background-color: #ffe6f0; 
}

.title-label {
    -fx-text-fill: #d81b60; 
    -fx-font-weight: bold;
}

.field-label {
    -fx-text-fill: #ad1457; 
    -fx-font-weight: 600;
}

.input-field {
    -fx-background-color: #fff0f6; 
    -fx-border-color: #d81b60; 
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 10 5 10;
    -fx-font-size: 14px;
    -fx-text-fill: #4a148c;
}

.input-field:focused {
    -fx-border-color: #880e4f; 
    -fx-background-color: #ffe6f0;
}

.primary-button {
    -fx-background-color: #d81b60; 
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-cursor: hand;
}

.primary-button:hover {
    -fx-background-color: #ad1457;
}

.secondary-button {
    -fx-background-color: transparent;
    -fx-text-fill: #d81b60;
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.message-label {
    -fx-font-weight: bold;
}
